:root{
    --primar-color:#6DAEC7;
    --secondary-color:#EDFFFA;
}

a {
    font-size: 20px;
    color:lightslategrey;
}

#nav-menu ul{
    position: absolute;
    display: flex;
    padding: 5px;
    gap: 20px;

}

.wrapper {
    display: flex;
    justify-content: center;
}

img-cover{
    width: 180px; 
    height: 200px;
    object-fit: cover;

}

.mine{
    background-color: beige;
}
